.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		set-type-size('xxxxx-large', true)

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__byline
		max-width $column-width
		margin 1rem auto 3rem auto
		text-align center
		font-family $national

		a
			text-transform uppercase

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
