/* CUSTOM STORY STYLE */
.map
	width 100%

	#pubsMap
		width 100%
		height 80vh
		margin-bottom 5rem

	#map-table
		max-width $column-width
		margin 0 auto 8rem auto
		padding 0 1rem

		button
			width 8rem
			height 2.5rem
			margin 0 auto
			border 2px solid $brown-dark
			background-color lighten($tan-medium, 25)
			text-transform uppercase
			set-type-size('small', true)
			color $brown-dark
			display flex
			justify-content center
			&:hover
				background-color lighten($tan-medium, 15)

			&.open
				display flex
				justify-content center

			&.is-hidden
				display none	

		.table__directions
			display flex
			flex-direction row
			align-items center
			margin-bottom 1rem

			p
				font-family $pirata
				//text-transform uppercase
				margin 0
				color $brown-dark
				set-type-size('xx-large', true)

			img
				width 4.5rem
				margin-left 0.5rem
				&.is-animate
					animation-name tilt
					animation-duration 1000ms
					animation-iteration-count infinite
					animation-timing-function linear

		.labels
			display none
			flex-direction row
			width 100%
			padding 0 0.25rem
			+mq('bp-3-5')
				display flex

			.inset-div
				width 35%
				display flex
				flex-direction row

				.num
					width 3rem

				.name
					width calc(100% - 3rem)

			p
				color $tan-text
				text-transform uppercase
				font-family $national
				set-type-size('root', true)
				margin 0

			.add
				width 65%


		.pub-adds
			height 28rem
			overflow hidden
			position relative
			margin-bottom 1rem

			&.is-visible
				overflow auto
				height auto

			.labels
				display flex
				flex-direction row
				justify-content space-between
				padding 0 0.25rem

				p
					color $tan-text
					text-transform uppercase
					font-family $national
					set-type-size('root', true)
					margin 0

			.g-vis

				a
					display block
					border-bottom none
					cursor pointer
					pointer-events all

				.table-row
					display flex
					flex-direction column
					border-bottom 1px solid $tan-medium
					padding 0.5rem 0.25rem
					+mq('bp-3-5')
						flex-direction row
					&:hover
						background-color lighten($tan-medium, 25)

					p
						margin 0
						color $brown-dark
						font-family $national
						set-type-size('root', true)

				.inset-div
					width 100%
					display flex
					flex-direction row
					+mq('bp-3-5')
						width 35%

					.table-pub-num
						width 3rem
						padding-right 0
						text-align left
						font-weight 700
						color $red-accent
						+mq('bp-3-5')
							text-align right
							padding-right 1rem

					.table-pub-name
						width calc(100% - 3rem)
						padding-right 0
						font-weight 700
						+mq('bp-3-5')
							padding-right 1rem

				.table-pub-add
					width 10%
					+mq('bp-3-5')
						width 65%

			.fade
				position absolute
				bottom 0
				left 0
				width 100%
				height 3rem
				background-image linear-gradient(rgba($tan-light, 0), rgba($tan-light, 1))
				z-index setOverlay('overlay')
				display none

				&.is-visible
					display inline-block

				&.is-hidden
					display none

@keyframes tilt {
	0% {transform: rotate(0deg)}
	50% {transform: rotate(5deg)}
	100% {transform: rotate(0deg)}
}

.mapboxgl-popup-content
	font-family $national
	font-weight 700
	width 200px
	color $brown-dark
