/* CUSTOM STORY STYLE */
.methods
	width 100%
	background-color lighten($tan-medium, 20)
	padding 5rem 0 10rem 0
	border-top 1px solid $tan-medium

	h5
		max-width $column-width
		margin 0 auto
		padding 0 1rem
		font-family $national
		font-weight 700
		text-transform uppercase
		color $brown-dark

	.prose
		font-family $national
		set-type-size('small', true)
