<section class='madlib'>
	<div class='nav'>
		<div class='nav__directions'>
			<p>Pick a name pattern</p>
			<img src='assets/images/hand.jpg'>
		</div>
		<div class='nav__choices'>
			<p class='is-selected'>Color + Noun</p>
			<p>Royality + Noun</p>
			<p>Noun + Inn/Hotel</p>
			<p>Noun + Noun</p>
		</div>
	</div>
	<div class='dropdown-wrapper'>
		<div class='dropdown-group'>
			<div class='select-bg'></div>
			<select class='first-select'>
				<option>red</option>
			</select>
		</div>
		<div class='dropdown-group'>
			<div class='select-bg'></div>
			<select class='second-select'>
				<option>lion</option>
			</select>
		</div>
	</div>
	<div class='map-sentence'>
		<p>There are <span class='red-highlight'>339</span> pubs named <span class='red-highlight'>Red Lion</span> on your pub crawl. Your crawl is <span class='red-highlight'>1528</span> miles/<span class='red-highlight'>2459</span> kilometers long. <span class='fun-blurb'>There goes your liver!</span></p>
	</div>
</section>
