<section class='madlib'>
	<div class='nav'>
		<div class='nav__directions'>
			<p>Pick a pattern</p>
			<img class='is-animate' src='assets/images/hand.jpg' alt='sketch of pointing finger'>
		</div>
		<div class='nav__choices'>
			<p class='nav__color-noun is-selected'>Color+Noun</p>
			<p class='nav__royalty-noun'>Royality+Noun</p>
			<p class='nav__noun-inn'>Noun+Inn</p>
			<p class='nav__noun-noun'>Noun&Noun</p>
		</div>
	</div>
	<div class='dropdown-wrapper'>
		<div class='dropdown-group'>
			<div class='select-bg'></div>
			<select class='first-select'>
				<option selected disabled>Pick a pub name</option>
			</select>
		</div>
	</div>
	<div class='map-sentence'>
		<p>There are <span class='red-highlight' id='madlib-count'>339</span> pubs named <span class='red-highlight' id='madlib-name'>Red Lion</span> on your pub crawl. Your crawl is <span class='red-highlight' id='madlib-miles'></span> miles/<span class='red-highlight' id='madlib-kilometers'></span> kilometers long. <span class='fun-blurb' id='madlib-blurb'>There goes your liver!</span></p>
	</div>
</section>
