<section class='map'>
	<div id='pubsMap'></div>
	<div id='map-table'>
		<div class='table__directions'>
			<p>Your itinerary</p>
			<img src='assets/images/hand.jpg'>
		</div>
		<div class='pub-adds'>
			<div class='labels'>
				<p class='table-pub-num'>No.</p>
				<p class='table-pub-name'>Name</p>
				<p class='table-pub-add'>Address</p>
			</div>
			<div class='g-vis'>
				<div class='table-row'>
					<p class='table-pub-num'>1</p>
					<p class='table-pub-name'>Red Lion</p>
					<p class='table-pub-add'>High Street, Elstow, MK42 9XP</p>
				</div>
				<div class='table-row'>
					<p class='table-pub-num'>1</p>
					<p class='table-pub-name'>Red Lion</p>
					<p class='table-pub-add'>High Street, Elstow, MK42 9XP</p>
				</div>
				<div class='table-row'>
					<p class='table-pub-num'>1</p>
					<p class='table-pub-name'>Red Lion</p>
					<p class='table-pub-add'>High Street, Elstow, MK42 9XP</p>
				</div>
			</div>
			<div class='fade is-visible'></div>
		</div>
		<button class='is-visible'>See all</button>
	</div>
</section>
