<section class='map'>
	<div id='pubsMap'></div>
	<div id='map-table'>
		<div class='table__directions'>
			<p>Your itinerary</p>
			<img src='assets/images/hand.jpg' alt='sketch of pointing finger'>
		</div>
		<div class='labels'>
			<div class='inset-div'>
				<p class='num'>No.</p>
				<p class='name'>Name</p>
			</div>	
			<p class='add'>Address</p>
		</div>
		<div class='pub-adds'>
			<div class='fade is-visible'></div>
		</div>
		<button class='open' id='map-button'>See all</button>
	</div>
</section>
